/* trails */
.trails {
  width: 100%;
  margin: 0;
  padding-left: 0px;
  border-bottom: 6px solid #FFF;
}
.trails td {
  color: #FFF;
  font-weight: bold;
  background-color: #FF9933;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 3px;
}
.trails a:link, .trails a:visited {
  color: #FFF;
}
.trails a:hover, .trails a:visited:hover {
  color: #FFF;
}

/* drop down menus */
.menu { visibility:hidden; left:0px; top:0px; position:absolute }
.pulldown {
  border: 1px solid #aca899;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #fff;
  cursor: default;
  z-index: 1000;
}
.pulldown tr {
  padding: 0px;
  margin: 0px;
  color: #000000;
  background-color: #fff;
  height: 20px;
}
.pulldown tr.hover {
  padding: 0px;
  margin: 0px;
  background-color: #316ac5 !important;
  color: #fff;
  height: 20px;
}
.pulldown th.hover {
  width: 20px;
  height: 20px;
  background-color: #619af5;
  padding: 0px 3px;
}
.pulldown th {
  width: 20px;
  height: 20px;
  background-color: #cdf;
  padding: 0px 3px;
}
.pulldown td {
  height: 20px;
  padding: 0px 3px;
}
.pulldown td.hover {
  height: 20px;
  padding: 0px 3px;
  background-color: #316ac5 !important;
  color: #fff;
}
