/* HTML Elements */
BODY {
  font-family: verdana, helvetica, arial, sans-serif;
  background: #333333;
  color: #FFFFFF;
}
TABLE, TD, TH, LI, P, UL, OL, TEXTAREA, INPUT, SELECT, A {
  font-family: verdana, helvetica, arial, sans-serif;
  color: #000000;
}
OPTGROUP {
  font-family: verdana, helvetica, arial, sans-serif;
  color: #000000;
}

/* Portal Logo */
.portalLogo {
  border-left: 1px solid #FFFFFF;
  background-color: #CC3300;
  border-right: 1px solid #FFFFFF;
  padding: 6px;
}

/* Portal Tabs */
.portalTabs {
  border-left: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  height: 20px;
  background-color: #000000;
  padding-top: 3px;
}
.portalTabActive {
  height: 20px;
	text-align: left;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-right: 3px;
  font-weight: normal;
}
.portalTabActive a {
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 11px;
  background: url(../images/indicator-yellow.gif) center left no-repeat;
  padding-right: 4px;
  background-color: #CC3300;
}
.portalTabActive a:hover {
  background-color: #CC3300;
}
.portalTabInactive {
  height: 20px;
  text-align: left;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-right: 3px;
  font-weight: normal;
}
.portalTabInactive a {
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 11px;
  background: url(../images/indicator-yellow.gif) center left no-repeat;
  padding-right: 4px;
  background-color: #000000;
}
.portalTabInactive a:hover {
  background-color: #CC3300;
  border-left: #000000;
  border-right: #000000;
}
.portalTabSpace {
  background-color: #000000;
}
.portalTabBackground {
  color: #CCCCCC;
  background-color: #999999;
  text-decoration: none;
}
.portalTabBackground a {
  color: #FFFF33;
  text-decoration: none;
}
.portalTabBackground a:hover {
  text-decoration: underline !important;
}

/* Portal Body */
.portalBody {
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

/* Login and other static links */
.portalLogin td {
  text-align: right;
  padding-bottom: 3px;
}
.portalLogin a, .portalLogin a:hover {
  color: #666666;
  text-decoration: none;
}
.portalLogin a:hover {
  text-decoration: underline !important;
}


/* Portal Page Groups */
.portalPageGroupsColumn{
  background-color: #CC3300;
  border-right: 1px solid #CC3300;
  border-left: 1px solid #CC3300;
  padding-top: 15px;
  padding-left: 2px;
  padding-right: 2px;
}

.portalPageGroups {
  padding: 6px;
  background: url(../images/radial-gray.gif) top left no-repeat;
  background-color: #BFBFBF;
  text-align: left;
}
.portalPageGroup {
  text-align: left;
  color: #CC3300;
}
.portalPageActive {
  color: #CCCCCC;
  text-align: left;
  padding-left: 11px;
  background: url(../images/indicator-black.gif) center left no-repeat;
}

.portalPageInactive {
  color: #CCCCCC;
  text-align: left;
  padding-left: 11px;
}

/* Portal Portlets */
.portalPortlets {
  background-color: #FFFFFF;
}

.portalRow {

}

.portalColumn {

}

.portalEditorRow {
  padding: 3px;
  background-color: #CCCCCC !important;
  border: 1px solid #000000 !important;
}

.portalEditorColumn {
  padding: 3px;
  background-color: #CCCCCC !important;
  border: 1px solid #000000 !important;
}

/* Table surrounding the catalog list header */
.productCatalogListCategory {
  border-bottom: 1px solid #CCCCCC;
}
.productCatalogListCategory td {
  font-weight: bold;

}
.productCatalogListStatus {

}
.productCatalogThumbnail td {
  text-align: center;
}
.productCatalogThumbnail img {
  border: 1px solid #CCCCCC;
}

/* Form customization */
.details th {
  text-align: left;
}
.formLabel {
  text-align: right;
  font-weight: normal;
}
