<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<!--
  Tokens are replaced by the Ant build.xml script according to parameters
  in the system's build.env, run ant for more information
-->
<web-app>
  <listener>
    <listener-class>
     org.aspcfs.controller.ContextListener
    </listener-class>
  </listener>
  <listener>
    <listener-class>
     org.aspcfs.controller.ContextSessionListener
    </listener-class>
  </listener>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <display-name>Controller</display-name>
    <servlet-class>com.darkhorseventures.framework.servlets.ControllerServlet</servlet-class>
    <init-param>
        <param-name>ActionConfig</param-name>
        <param-value>cfs-config.xml,cfs-config-globalactions.xml</param-value>
    </init-param>
    <init-param>
        <param-name>ModuleConfig</param-name>
        <param-value>cfs-modules.xml</param-value>
    </init-param>
    <init-param>
        <param-name>ContainerMenuConfig</param-name>
        <param-value>cfs-container_menus.xml</param-value>
    </init-param>
    <init-param>
        <param-name>DynamicFormConfig</param-name>
        <param-value>cfs-dynamic_forms.xml</param-value>
    </init-param>
    <init-param>
        <param-name>PopulateAttributeName</param-name>
        <param-value>auto-populate</param-value>
    </init-param>
    <init-param>
        <param-name>UseXSLCache</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>PopulateClassName</param-name>
        <param-value>com.darkhorseventures.framework.beans.BeanUtils</param-value>
    </init-param>
    <init-param>
        <param-name>InitHook</param-name>
        <param-value>org.aspcfs.controller.InitHook</param-value>
    </init-param>
    <init-param>
        <param-name>Hook</param-name>
        <param-value>org.aspcfs.controller.SecurityHook</param-value>
    </init-param>
    <init-param>
        <param-name>GlobalItemsHook</param-name>
        <param-value>org.aspcfs.controller.GlobalItemsHook</param-value>
    </init-param>
    <init-param>
        <param-name>MainMenuHook</param-name>
        <param-value>org.aspcfs.controller.MainMenuHook</param-value>
    </init-param>
    <init-param>
        <param-name>ClientSSLKeystore</param-name>
        <param-value>@KEYSTORE@</param-value>
    </init-param>
    <init-param>
        <param-name>ClientSSLKeystorePassword</param-name>
        <param-value>aspcfs</param-value>
    </init-param>
    <init-param>
        <param-name>PreloadXSL</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>CacheModules</param-name>
        <param-value>true</param-value>
    </init-param>
    <init-param>
        <param-name>listings</param-name>
        <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Webdav</servlet-name>
    <display-name>Webdav</display-name>
    <servlet-class>com.zeroio.webdav.WebdavServlet</servlet-class>
    <init-param>
          <param-name>listings</param-name>
          <param-value>true</param-value>
    </init-param>
    <init-param>
          <param-name>readonly</param-name>
          <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>debug</param-name>
        <param-value>2</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Portlets -->
  <servlet>
    <servlet-name>AboutPortlet</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>AboutPortlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ContactFormPortlet</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>ContactFormPortlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HtmlContentPortlet</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>HtmlContentPortlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PortfolioPortlet</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>PortfolioPortlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ProductCatalogPortlet</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>ProductCatalogPortlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Portlet Mappings -->
  <servlet-mapping>
    <servlet-name>AboutPortlet</servlet-name>
    <url-pattern>/PlutoInvoker/AboutPortlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactFormPortlet</servlet-name>
    <url-pattern>/PlutoInvoker/ContactFormPortlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HtmlContentPortlet</servlet-name>
    <url-pattern>/PlutoInvoker/HtmlContentPortlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortfolioPortlet</servlet-name>
    <url-pattern>/PlutoInvoker/PortfolioPortlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductCatalogPortlet</servlet-name>
    <url-pattern>/PlutoInvoker/ProductCatalogPortlet</url-pattern>
  </servlet-mapping>

  <!-- Servlet mappings -->
  <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- The mapping for the webdav servlet -->
  <!-- Using /* as the mapping ensures that jasper, welcome files etc are
       over-ridden and all requests are processed by the webdav servlet.
       This also overcomes a number of issues with some webdav clients
       (including MS Webfolders) that do not respond correctly
       to the redirects (302) that result from using a mapping of / -->
  <servlet-mapping>
    <servlet-name>Webdav</servlet-name>
    <url-pattern>/files/*</url-pattern>
  </servlet-mapping>
  <session-config>
        <session-timeout>65</session-timeout>
  </session-config>
</web-app>
