A            {color:#000000;text-decoration:underline;}
A:active     {color:#000000;}
A:visited    {color:#000000;}
A:hover      {color:#FF3300;}
A:visited:hover{color:#FF3300;}

.r{color:#FFFFFF;text-decoration:none;}
.r:active{color:#FFFFFF;}
.r:visited{color:#FFFFFF;}
.r:hover{color:#ccccff;text-decoration:underline;}
.r:visited:hover{color:#ccccff;text-decoration:underline;}

.rs{color:#FFFF00;text-decoration:none;}
.rs:active{color:#FFFF00;}
.rs:visited{color:#FFFF00;}
.rs:hover{color:#ccccff;text-decoration:underline;}
.rs:visited:hover{color:#ccccff;text-decoration:underline;}

.s{color:#000000;text-decoration:underline;}
.s:active{color:#000000;}
.s:visited{color:#000000;}
.s:hover{color:#FF3300;text-decoration:underline;}
.s:visited:hover{color:#FF3300;text-decoration:underline;}

.containerOn{color:#000000;text-decoration:none;}
.containerOn:active{color:#000000;text-decoration:none;}
.containerOn:visited{color:#000000;text-decoration:none;}
.containerOn:hover{color:#FF3300;text-decoration:underline;}
.containerOn:visited:hover{color:#FF3300;text-decoration:underline;}

.containerOff{color:#000000;}
.containerOff:active{color:#000000;}
.containerOff:visited{color:#000000;}
.containerOff:hover{color:#FF3300;text-decoration:underline;}
.containerOff:visited:hover{color:#FF3300;text-decoration:underline;}

.globalItem {
  color: #fff;
  margin: 0;
	padding: 0;
  padding-bottom: 5px;
}

.globalItem th {
  color: #FFF;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  height: 20px;
  width: 150px;
  padding-left: 4px;
  background-color: #5e9cd3;
  background-repeat: repeat-x;
  background-position: top left;
  background-image: url(../images/global_item.gif);
  border-right: 1px solid #000;
	border-left: 1px solid #000;
  border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.globalItem td {
  color: #000;
  background-color: #E7E9EB;
}
