BODY  { font-family: verdana, helvetica, arial, sans-serif; font-size: 10pt; background: white }
  .highlight { color: #006699; font-weight: bold; }
  
  .title { background: #DEE0FA; }
  .title2 { background: #D4D4D4; }
  .warning { background: #FF3300; font-weight: bold; color: #FFFFFF }
  
  .containerHeader { background: #FFFF95; }
  .containerMenu { background: #F1F0E0; }
  .containerBack { background: #FFFDED; }
  .containerBody { background: #FFFFFF; }
  
  .column { color: #000080; font-weight: bold; }
  .row1old { background: #E5E5E5; }
  .row1 { background: #EDEDED; }
  .row1hl { background: #FFFDED; }
  .row2 { background: #FFFFFF; }
  .row2hl { background: #FFFDED; }
  .strike { text-decoration: line-through; }
  .tableBorder {border: outset 2pt; border-collapse: separate }
  .error { color: #006699; }
  
  .date { color: #3366CC; font-size: 10pt; font-weight: bold; }
  .time { color: #000000; font-size: 10pt; }
  .appt { color: #000000; font-size: 10pt; }
  .underline { text-decoration: underline; }
  .smallfooter { color: #000000; font-size: 10pt; text-align: center; }
  
  .calendar { background: #BFBFBB; }
  .monthName { background: #DEE0FA; color: #000000; font-size: 10pt; font-weight: bold; text-align: center; }
  .monthArrowPrev { background: #DEE0FA; color: #000000; font-size: 10pt; font-weight: bold; text-align: center; }
  .monthArrowNext { background: #DEE0FA; color: #000000; font-size: 10pt; font-weight: bold; text-align: center; }
  .weekName { background: #CCCCCC; color: #000000; font-size: 10pt; text-align: center; }
  .selectedWeek { background: #FEFFB2;}
  .weekSelector { background: #EDEDED;}
  .selectedDay { background: #FEFFB2;}
  .day { background: white; color: #000000; font-family: arial, verdana; font-size: 10pt; font-weight: normal; text-align: left; }
  .highlightday { background: #66FF66; color: #000000; font-family: arial, verdana; font-size: 10pt; font-weight: normal; text-align: left; }
  .noday { background: #C9C9C9; color: #000000; font-family: arial, verdana; font-size: 10pt; font-weight: normal; text-align: left; }
  .today { background: #C6E7FF; color: #000000; font-family: arial, verdana; font-size: 10pt; font-weight: bold; text-align: left; }

  .smallcalendar { background: #FFFFFF; }
  .smallmonthName { background: #3366CC; color: #FFFFFF; font-size: 10pt; font-weight: bold; text-align: center; }
  .smallmonthArrowPrev { background: #3366CC; color: #FFFFFF; font-size: 10pt; font-weight: bold; text-align: center; }
  .smallmonthArrowNext { background: #3366CC; color: #FFFFFF; font-size: 10pt; font-weight: bold; text-align: center; }
  .smallweekName { background: #CCCCCC; color: #000000; font-size: 10pt; text-align: center; }  
  .smallday { background: white; color: #000000; font-size: 10pt; font-weight: normal; text-align: right; }
  .smallhighlightday { background: white; color: #FF0000; font-size: 10pt; font-weight: normal; text-align: right; }
  .smallnoday { background: #EEEEEE; color: #000000; font-size: 10pt; font-weight: normal; text-align: right; }
  .smalltoday { background: white; color: #000000; font-size: 10pt; font-weight: bold; text-align: right; border: 2px solid #336699; }
  
TABLE, TD, TH, LI, P, UL, OL, TEXTAREA, INPUT, SELECT  { font-family: verdana, helvetica, arial, sans-serif; font-size: 10pt }
.list { background-color: #D4D4D4 }
.formLabel { text-align: right; width: 100; background-color: #EDEDED }
