BODY { 
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10pt; background: white;
  color: #000000;
}
TABLE, TD, TH, LI, P, UL, OL, TEXTAREA, INPUT, SELECT, A {
  font-family: verdana, helvetica, arial, sans-serif; 
  font-size: 10pt;
  color: #000000;
}

