A            {color:#000000;text-decoration:underline;}
A:active     {color:#000000;}
A:visited    {color:#000000;}
A:hover      {color:#FF3300;}
A:visited:hover{color:#FF3300;}
/* submenu links */
.r{color:#FFFFFF;text-decoration:none;}
.r:active{color:#FFFFFF;}
.r:visited{color:#FFFFFF;}
.r:hover{color:#ccccff;text-decoration:underline;}
.r:visited:hover{color:#ccccff;text-decoration:underline;}

.rs{color:#FFFF00;text-decoration:none;}
.rs:active{color:#FFFF00;}
.rs:visited{color:#FFFF00;}
.rs:hover{color:#ccccff;text-decoration:underline;}
.rs:visited:hover{color:#ccccff;text-decoration:underline;}

.s{color:#000000;text-decoration:underline;}
.s:active{color:#000000;}
.s:visited{color:#000000;}
.s:hover{color:#FF3300;text-decoration:underline;}
.s:visited:hover{color:#FF3300;text-decoration:underline;}

.containerOn{color:#000000;text-decoration:none;}
.containerOn:active{color:#000000;text-decoration:none;}
.containerOn:visited{color:#000000;text-decoration:none;}
.containerOn:hover{color:#FF3300;text-decoration:underline;}
.containerOn:visited:hover{color:#FF3300;text-decoration:underline;}

.containerOff{color:#000000;}
.containerOff:active{color:#000000;}
.containerOff:visited{color:#000000;}
.containerOff:hover{color:#FF3300;text-decoration:underline;}
.containerOff:visited:hover{color:#FF3300;text-decoration:underline;}
/* Global Items */
.globalItem {
  color: #fff;
  margin: 0;
	padding: 0;
  padding-bottom: 5px;
}
.globalItem th {
  color: #FFF;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  height: 20px;
  width: 150px;
  padding-left: 4px;
  background-color: #5e9cd3;
  background-repeat: repeat-x;
  background-position: top left;
  background-image: url(../images/global_item.gif);
  border-right: 1px solid #000;
	border-left: 1px solid #000;
  border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.globalItem td {
  color: #000;
  background-color: #E7E9EB;
}
/* Main Menu */
.menutabs {
	background-color: #fff;
  color: #fff;
  margin: 0;
	padding-top: 0px;
	padding-left: 0px;
}
.menutabs td, .menutabs th {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  /*font-style: italic;*/
  padding: 3px 3px 3px 3px;
  background-repeat: no-repeat;
  background-position: top left;
  cursor: pointer;
}
/* selected tab */
.menutabs th {
	background-image: url(../images/tabs/topleft-sel.gif);
	background-color: #006699;
  border-right: 1px solid #000;
}
.menutabs th, .menutabs th a:link, .menutabs th a:visited {
	color: #FFFF00;
}
/* unselected tab */
.menutabs td {
	background-image: url(../images/tabs/topleft-unsel.gif);
  background-color: #fffbde;
  border-right: 1px solid #41413a;
  border-bottom: 1px #000 solid;
}
.menutabs td, .menutabs td a:link, .menutabs td a:visited {
	color: #006699;
}
.menutabs a {
	text-decoration: none;
}
/* container menu tabs */
.tabs {
	width: 100%;
  color: #fff;
  margin: 0;
	padding-top: .67em;
	padding-left: 0px;
}
.tabs td, .tabs th {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  padding: 3px 9px;
  background-repeat: no-repeat;
  background-position: top left;
  cursor: pointer;
}
/* selected tab */
.tabs th {
	background-image: url(../images/tabs/tabtopleft-sel.gif);
  border-right: 1px solid #333;
	background-color: #FFFDED;
	border-left: 1px solid #FFF;
}
.tabs th, .tabs th a:link, .tabs th a:visited {
	color: #000;
}
/* unselected tab */
.tabs td {
	background-image: url(../images/tabs/tabtopleft-unsel.gif);
  background-color: #999;
	border-bottom: 1px solid #666;
	border-right: 1px solid #333;
	border-left: 1px solid #FFF;
}
.tabs td, .tabs td a:link, .tabs td a:visited {
	color: #FFF;
}
.tabs a {
	text-decoration: none;
}
/* containers */
.containerHeader { background: #FFFF95; }
.containerMenu { background: #F1F0E0; }
.containerBack { 
  background: #FFFDED;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
}
.containerBody { background: #FFFFFF; }
/* paged list */
.pagedList {
  border: 1px solid #000;
}
.pagedList th {
  text-align: left;
  border-bottom: 1px solid #000;
  border-right: 1px solid #666;
  background-color: #DEE0FA;
}
.pagedList td {
  border-bottom: 1px solid #666 !important;
  border-right: 1px solid #666 !important;
}
/* form details */
.details {
  border: 1px solid #000;
}
.details th {
  text-align: left;
  border-bottom: 1px solid #000;
  border-right: 1px solid #666;
  background-color: #DEE0FA;
}
.formLabel { 
  text-align: right !important;
  width: 100 !important;
  background-color: #EDEDED !important;
  border-bottom: 1px solid #666 !important;
  border-right: 1px solid #666 !important;
}
.details td {
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}
.empty td {
  border: none !important;
}
.warning { background: #FF3300 !important; font-weight: bold; color: #FFFFFF }

/* sectionTitle */
.sectionTitle {
  border: 1px solid #000;
}
.sectionTitle th {
  text-align: left;
  border-bottom: 1px solid #000;
  /* border-right: 1px solid #666;
  background-color: #d9ebdc; */
}
.sectionTitle td {
  border-bottom: 1px solid #666 !important;
  border-right: 1px solid #666 !important;
}

.highlight { color: #006699; font-weight: bold; }

.title { background: #DEE0FA; }
.title2 { background: #D4D4D4; }

.column { color: #000080; font-weight: bold; }
.row1 { background: #EDEDED; }
.row1hl { background: #FFFDED; }
.row2 { background: #FFFFFF; }
.row2hl { background: #FFFDED; }
.strike { text-decoration: line-through; }
.tableBorder {border: outset 2pt; border-collapse: separate }
.error { color: #006699; }

.date { color: #3366CC; font-weight: bold; }
.time { color: #000000; }
.appt { color: #000000; }
.underline { text-decoration: underline; }
.smallfooter { color: #000000; text-align: center; }

.calendar { 
  background: #BFBFBB;
  border: 1px solid #000;
}
.calendar th { 
  text-align: center;
  background: #DEE0FA;
  border-bottom: 1px solid #000;
  border-right: 1px solid #666;
  font-weight: normal;
}
.calendar td {
  border-bottom: 1px solid #666 !important;
  border-right: 1px solid #666 !important;
}
.monthName { 
  background: #DEE0FA;
  color: #000000;
  text-align: center;
}
.monthArrowPrev { 
  background: #DEE0FA;
  color: #000000;
  font-weight: bold;
  text-align: center;
}
.monthArrowNext {
  background: #DEE0FA;
  color: #000000;
  font-weight: bold;
  text-align: center;
}
.weekName {
  background: #CCCCCC;
  color: #000000;
  text-align: center;
}
.selectedWeek {
  background: #FEFFB2;
  text-align: left;
  cursor: pointer;
}
.weekSelector { 
  background: #EDEDED;
  text-align: left;
}
.selectedDay { 
  background: #FEFFB2;
  text-align: left;
  cursor: pointer;
}
.day { 
  background: white;
  color: #000000; 
  font-weight: normal; 
  text-align: left;
  cursor: pointer;
}
.highlightday { 
  background: #66FF66;
  color: #000000;
  font-weight: normal;
  text-align: left;
  cursor: pointer;
}
.noday { 
  background: #EEEEEE;
  color: #000000;
  font-weight: normal;
  text-align: left;
  cursor: pointer;
}
.today {
  background: #C6E7FF;
  color: #000000;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}
.dayIcon td {
  border: none !important;
  cursor: pointer;
}
.smallcalendar {
  background: #FFFFFF;
  border: 1px solid #000;
}
.smallcalendar th {
  text-align: center;
  background: #DEE0FA;
  border: none;
}
.smallcalendar td {
  border: none;
  text-align: center;
}
.smallmonthName {
  background: #DEE0FA;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.smallmonthArrowPrev { background: #3366CC; color: #FFFFFF; font-weight: bold; text-align: center; }
.smallmonthArrowNext { background: #3366CC; color: #FFFFFF; font-weight: bold; text-align: center; }
.smallweekName {
  background: #CCCCCC;
  color: #000000;
  text-align: center;
}
.smallday { background: white; color: #000000; font-weight: normal; text-align: right; }
.smallhighlightday { background: white; color: #FF0000; font-weight: normal; text-align: right; }
.smallnoday { background: #EEEEEE; color: #000000; font-weight: normal; text-align: right; }
.smalltoday { background: #FFFFA6; color: #000000; font-weight: bold; text-align: right; }

.list { background-color: #D4D4D4 }
.pulldown { background-color: #EEF3FB; border-left: 2px solid #FFFFFF; border-top: 2px solid #FFFFFF; border-right: 2px solid #B6C7E5; border-bottom: 2px solid #B6C7E5}
.menu { visibility:hidden; left:0px; top:0px; position:absolute }
