BODY { 
  font-family: serif;
  font-size: 12pt; 
  background: white;
  color: #000000;
}
TABLE, TD, TH, LI, P, UL, OL, TEXTAREA, INPUT, SELECT, A {
  font-family: serif; 
  font-size: 12pt;
  color: #000000;
}

