BODY { 
  font-family: verdana, arial, sans-serif;
  font-size: 8pt;
  background: white;
  color: #000000;
}
TABLE, TD, TH, LI, P, UL, OL, TEXTAREA, INPUT, SELECT, A { 
  font-family: verdana, arial, sans-serif; 
  font-size: 8pt;
  color: #000000;
}
OPTGROUP {
  font-family: verdana, helvetica, arial, sans-serif; 
  font-size: 8pt;
  color: #000000;
}
.pagedListHeader td {
  font-size: 12pt;
}
