BODY { 
  font-family: verdana, arial, sans-serif;
  font-size: 8pt;
  background: white;
  color: #000000;
}
TABLE, TD, TH, LI, P, UL, OL, TEXTAREA, INPUT, SELECT, A, div.tabs th, div.tabs td  { 
  font-family: verdana, arial, sans-serif; 
  font-size: 8pt;
  color: #000000;
}
h1 { font-size: 10pt; }
OPTGROUP {
  font-family: verdana, helvetica, arial, sans-serif; 
  font-size: 8pt;
  color: #000000;
}
.pagedListHeader td {
  font-size: 12pt;
}
.searchCount { font-size: 10pt; }
.search { font-size: 10pt; }
